<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Custom Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

          <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item fs-4">
                        <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item fs-4">
                        <a class="nav-link" href="{{url_for('talents')}}">Talents</a>
                    </li>
        
            
                    <li class="nav-item fs-4 cta">
                        <a class="nav-link" href="{{url_for('register')}}">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="container">
    <div class="form-container">
      
      <h4 class="form-title">
        Your journey starts here <br>
        Take the first step
      </h4>

      <form method="POST" action="/submit">
        <input type="text"  name="full_name" class="form-control" placeholder="Full Name">
        <input type="email"  name="email" class="form-control" placeholder="Email">
        <input type="text" name="phone" class="form-control" placeholder="+20 10 1234 5678">

        <select  name="position" class="form-select">
          <option selected disabled>Select your position</option>
          <option>Attaker</option>
          <option>Defender</option>
          <option>Goal Keepr</option>
        </select>

        <input type="text" name="birth_year" class="form-control" placeholder="Birth Year">
        <input type="text" name="club" class="form-control" placeholder="Club (players)">
        <input type="text" name="experience"  class="form-control" placeholder="Years of experience">


        <button id ="register-button"  type="submit" class="btn btn-custom mt-3">Submit</button>
      </form>

    </div>
  </div>

  
    <!-- footer -->
    <footer class="bg-dark text-white  py-4">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h5>About</h5>
                    <p>Some text here</p>
                </div>

                <div class="col-md-4">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Home</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h5>Contact</h5>
                    <p>Email@example.com</p>
                </div>

            </div>
        </div>
    </footer>
<script src="{{ url_for('static', filename='javascript/form_handeler.js') }}"></script>
</body>
</html>